@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "node_modules/owl.carousel/src/scss/owl.theme.default";
@import "node_modules/owl.carousel/src/scss/owl.theme.green";
.reviews__carousel {
    .owl-nav {
        @include flex(row, nowrap, center, space-between);
        min-width: 150px;
        .owl-prev, .owl-next {
            span {
                display: none
            }
            &:focus, &:focus-within, &:hover {
                outline: none;
            }
        }
        .owl-next {
            &:before {
                font-family: 'Font Awesome 5 Pro';
                content: '\f178'
            }
        }
        .owl-prev {
            &:before {
                font-family: 'Font Awesome 5 Pro';
                content: '\f177'
            }
        }
    }
    .owl-dots {
        @include flex(row, nowrap, center, space-between);
        .owl-dot {
            @include flex(row, nowrap, center, center);
            width: 17px;
            height: 17px;
            border-radius: 50%;
            span {
                border-radius: 50%;
                background-color: rgb(225, 225, 225);
                width: 9px;
                height: 9px;
                display: block;
            }
            &.active {
                background-color: rgb(225, 225, 225);
                span {
                    background-color: rgb(93, 57, 227);
                    box-shadow: 0px 0px 25.81px 3.19px rgba(93, 57, 227, 0.67);
                }
            }
            &:focus, &:focus-within, &:hover {
                outline: none;
            }
            
        }
    }
    .review__item {
        .avatar {
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            width: 65px;
            height: 64px;
            border: 5px solid rgb(93, 57, 227);
            position: relative;
            background-image: url('../images/review__image.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            &:before {
                content: url('../images/quotes.png');
                position: absolute;
                z-index: -1;
                bottom: 60%;
                right: 70%;
            }
        }
        .title {
            
            @include text(AvenirNextCyr, 18px, 1.278, 500, rgb(27, 28, 36));
            margin-bottom: 0;
            span {
                display: block;
                font-weight: 700;
            }
        }
        .description {
            @include text(AvenirNextCyr, 16px, 1.2, 500, rgb(27, 28, 36));
            margin-bottom: 0;
        }
    }
}