@mixin text($family, $size, $line-height, $weight, $color) {
	font-family: $family;
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
}
@mixin flex($flex-direction, $flex-wrap, $align, $justify) {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
	align-items: $align;
	justify-content: $justify;
}
@mixin background($url, $size, $repeat, $position) {
	background-image: $url;
	background-size: $size;
	background-repeat: $repeat;
	background-position: $position;
}