@font-face {
  src: url("../fonts/AvenirNextCyr-Medium.ttf");
  font-family: AvenirNextCyr;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url("../fonts/AvenirNextCyr-Thin.ttf");
  font-family: AvenirNextCyr;
  font-weight: 200;
  font-style: normal;
}
@font-face {
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
  font-family: ProximaNova;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/AvenirNextCyr-Bold.ttf");
  font-family: AvenirNextCyr;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/AvenirNextCyr-Heavy.ttf");
  font-family: AvenirNextCyr;
  font-weight: 800;
  font-style: normal;
}
