html {
    scroll-behavior: smooth;
}
body {
    background-color: #f9fafb;      
}
.home {
    background-color: rgb(27, 27, 36);
    background-image: url('../images/layer.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 720px;
    .banner--clone {
        display: flex;
        align-items: center;
        background-color: rgba(27,27,36,.5);
        position: fixed;
        z-index: 1000000;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
          -ms-transform-transform: translateY(-100%);
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
          -moz-transition-transition: all 300ms ease-in-out; }
      .banner--clone .form__bc {
          height: 0!important;
      }
      .banner--stick {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
          -ms-transform-transform: translateY(0%); }
    .air-top {
        margin-top: 12rem;
    }
    .title-group {
    .description {
        @include text(AvenirNextCyr, 16px, 1.688, 200, rgb(255, 255, 255));
        margin: 0;
    }
    .title {
        @include text(AvenirNextCyr, 50px, 1.2, 700, rgb(255, 255, 255));
        margin-bottom: 2.875rem;
    }
    }
    .logo {
    width: 100%;
    max-width: 165px;
    max-height: 57px;
    }
    .main-nav {
    height: 100%;
    ul {
        @include flex(row, wrap, center, space-between);
        list-style: none;
        height: 100%;
        padding: 0;
        margin: 0;
        li {
        a {
            &.active {
            color: rgb(93, 57, 227);
            }
            &:hover {
            color: rgb(93, 57, 227);
            }
            @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(255, 255, 255));
            text-decoration: none;
            transition: all .3s ease;
        }
        }
    }
    }
    .feedback-btn {
    @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(255, 255, 255));
    background-color: rgb(93, 57, 227);
    box-shadow: 0px 7px 53.01px 3.99px rgba(73, 57, 227, 0.39);
    border: none;
    width: 100%;
    height: 50px;
    }
    .form__bc {
    position: absolute;
    background-color: rgba(255, 255, 255, .051);
    width: 100%;
    height: 200%;
    top: 100%;
    left: 0;
    right: 0;
    transform: translate(0, -100%);
    }
    .search-form {
    position: relative;
    @include flex(row, nowrap, center, space-between);
    height: 100%;
    .search-field {
        
        @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(255, 255, 255));
        background-color: unset;
        border: none;
        height: 20px;
        padding-left: 5px;
        border-left: 1px solid rgba(255, 255, 255, .18);
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
        -webkit-appearance:none;
        }
    }
    .search-btn {
        
        border: none;
        background-color: unset;
        background-image: url('../images/finder.png');
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
        width: 40px;
        height: 40px;
    }
    }
}
.about {
    .air-top {
        margin-top: 12rem;
    }
    .title {
        @include text(AvenirNextCyr, 40px, 1.2, 700, rgb(27, 28, 36));
        margin-bottom: 3.75rem;
    }
    .subtitle {
        @include text(AvenirNextCyr, 18px, 1.2, 500, rgb(27, 28, 36));
        margin-bottom: 3rem;
    }
    .description {
        @include text(AvenirNextCyr, 16px, 1.2, 400, rgba(27, 28, 36, 0.671));
        margin-bottom: 1.875rem;
    }
   .video__wrapper {
        position: relative;
        max-height: 379px;
        max-width: 455px;
        &:after {
            content: '';
            position: absolute;
            width: 15px;
            height: 77px;
            left: 100%;
            bottom: 5%;
            background-color: rgb(93, 57, 227);
        }
        video {
            // height: 379px;
            // width: 455px;
            &::-webkit-media-controls {
            }   
            &::-webkit-media-controls-play-button {}
            
            &::-webkit-media-controls-volume-slider {}
            
            &::-webkit-media-controls-mute-button {}
            
            &::-webkit-media-controls-timeline {}
            
            &::-webkit-media-controls-current-time-display {}
        }
        .show__video {
            position: absolute;
            bottom: 5%;
            left: 5%;
            @include text(AvenirNextCyr, 14px, 1.2, 400, rgb(255, 255, 255));
            border: 1px solid rgb(93, 57, 227);
            width: 238px;
            height: 58px;
            background-color: unset;
            &:focus, &:active, &:focus-within {
                outline: none;
            }
        }
   }
}
.advantages {
    .air-top {
        margin-top: 16rem;
    }
    .title {
        @include text(AvenirNextCyr, 40px, 1.2, 700, rgb(27, 28, 36));
    }
    .description {
        @include text(AvenirNextCyr, 18px, 1.2, 500, rgb(27, 28, 36));
        margin-bottom: 0;
        min-width: 150px;
        max-width: 200px;
    }
    .count {
        @include text(AvenirNextCyr, 50px, 1, 700, rgb(27, 28, 36));
        border-bottom: 2px solid rgb(93, 57, 227);
    }
    .show__services {
        @include text(AvenirNextCyr, 14px, 1.2, 400, rgb(255, 255, 255));
        @include flex(row, nowrap, center, center);
        background-color: rgb(93, 57, 227);
        box-shadow: 0px 7px 53.01px 3.99px rgba(93, 57, 227, 0.39);
        text-decoration: none;
        height: 50px;
        width: 100%;
    }
}
.services {
    .air-top {
        margin-top: 12rem;
    }
    .title {
        @include text(AvenirNextCyr, 40px, 1.2, 700, rgb(27, 28, 36));
    }
    .description-col {
        transition: all .3s ease;
        
        // &:hover {
        //     background-color: rgb(93, 57, 227);
        //     box-shadow: 0px 7px 53.01px 3.99px rgba(93, 57, 227, 0.39);
        //     div {
        //         background-image: url('../images/arrow-right_white.png');
        //         background-repeat: no-repeat;
        //         background-position: 100% 90%;
        //         background-size: auto;
        //     }
        //     i {
        //         color: #fff;
        //     }
        //     .description {
        //         color: #fff;
        //     }
        // }
        &.active-col {
            background-color: rgb(93, 57, 227);
            box-shadow: 0px 7px 53.01px 3.99px rgba(93, 57, 227, 0.39);
            div {
                background-image: url('../images/arrow-right_white.png');
                background-repeat: no-repeat;
                background-position: 100% 90%;
                background-size: auto;
            }
            i {
                color: #fff;
            }
            .description {
                color: #fff;
            }
        }
        div { 
            -webkit-transition:background-position .3s ease-in;  
            -moz-transition:background-position .3s ease-in;  
            -o-transition:background-position .3s ease-in;  
            transition:background-position .3s ease-in; 
            background-image: url('../images/arrow-right.png');
            background-repeat: no-repeat;
            background-position: 0% 90%;
            background-size: auto;
        }
        background-color: rgb(251, 251, 252);
        border-right: 1px solid rgb(237, 237, 237);
        border-bottom: 1px solid rgb(237, 237, 237);
        height: 198px;
        flex: 0 0 25%;
        max-width: 25%;
        @include flex(column, nowrap, stretch, center);
        .description {
            @include text(AvenirNextCyr, 18px, 1.2, 500, rgb(27, 28, 36));
            margin-bottom: 0;
            span {
                font-weight: 700;
                display: block;
            }
        }
        i {
            font-size: 23px;
            color: #7557e7;
            margin-right: 15px;
            &.fa-signal-stream {
                transform: rotate(90deg);
            }
            &.fa-sliders-v::after {
                color: var(--fa-secondary-color, inherit);
                opacity: 1;
                opacity: var(--fa-secondary-opacity, 1);
            }
        }
    }
    .description-row {
        @include flex(row, wrap, flex-start, flex-start);
        border-left: 1px solid rgb(237, 237, 237);
        border-top: 1px solid rgb(237, 237, 237);
    }
}
.reviews {
    .title {
        @include text(AvenirNextCyr, 40px, 1.2, 700, rgb(27, 28, 36));
        margin-bottom: 2.875rem;
    }
    .air-top {
        margin-top: 24rem;
    }
}
.contacts {
    .air-top {
        margin-top: 12rem;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            @include flex(row, wrap, center, flex-start);
            margin-top: 50px;
            .i__wrapper {
                @include flex(row, nowrap, center, center);
                border-radius: 50%;
                background-color: rgb(93, 57, 227);
                box-shadow: 0px 7px 53.01px 3.99px rgba(93, 57, 227, 0.39);
                width: 61px;
                height: 61px;
                margin-right: 30px;
                i {
                    font-size: 25px;
                    color: #fff;
                }
            }
            .description {
                @include text(AvenirNextCyr, 14px, 1.643, 500, rgb(27, 28, 36));
                margin-bottom: 0;
                span {
                    display: block;
                    font-weight: 700;
                }
                a {
                    @include text(AvenirNextCyr, 14px, 1.643, 700, rgb(27, 28, 36));
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }
}
.footer {
    .copyright {
        @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(27, 28, 36));
    }
    .socials {
        @include flex(row, wrap, center, flex-start);
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        li {
            margin-left: 40px;
            &:first-of-type {
                margin-left: 0;
            }
            a {
                text-decoration: none;
                &:hover {
                    i {
                        color: rgb(27, 28, 36);
                    }
                }
                i {
                    transition: all .3s ease;
                    font-size: 20px;
                    color: rgb(203, 203, 203);
                    line-height: 1.2;
                }
            }
        }
    }
    .feedback-btn {
        @include flex(row, nowrap, center, center);
        @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(255, 255, 255));
        background-color: rgb(93, 57, 227);
        box-shadow: 0px 7px 53.01px 3.99px rgba(93, 57, 227, 0.39);
        width: 100%;
        height: 50px;
        text-decoration: none;
    }
    .developedBy {
        @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(27, 28, 36));
        margin-bottom: 0;
    }
}
.swal2-modal {
    background-color: rgb(255, 255, 255);
    width: 750px!important;
    padding: 1.25em 6em!important;
}
.swal2-modal .swal2-header .swal2-title {
    @include text(AvenirNextCyr!important, 35px!important, 1.2!important, 700!important, rgb(27, 27, 36)!important);
}
.swal2-modal .swal2-description {
    @include text(AvenirNextCyr!important, 16px!important, 1.2!important, 400!important, rgb(27, 27, 36)!important);
} 
.swal2-modal .swal2-actions .swal2-styled.swal2-confirm {
    @include text(AvenirNextCyr!important, 14px!important, 1.2!important, 400!important, rgb(255, 255, 255)!important);
    background-color: rgb(93, 57, 227) !important;
    max-width: 206px;
    min-height: 50px;
    width: 100%;
}
.swal2-container {
    z-index: 10000000 !important;
}

@media (max-width: 576px) {
    .swal2-modal {
        padding: 1.25em .5em!important;
    }
    .home .toggle  {
        position: relative;
        top: 0;
        margin-left: auto;
    }
    .home .form__bc {
        height: 100%;
    }
    .hc-nav-trigger span, .hc-nav-trigger span::before, .hc-nav-trigger span::after {
        background: #5d39e3;
    }
    .hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
        background: #5d39e3;
    }
    .hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item {
        @include text(AvenirNextCyr, 14px, 1.2, 400, rgb(255, 255, 255));
        border-bottom: 1px solid #fff;
    }
    .hc-offcanvas-nav {
        z-index: 100000;
    }
    .home .air-top {
        margin-top: 5rem;
    }
    .home .title-group .title {
        font-size: 32px;
        margin-bottom: 1.875rem;
    }
    .about .title {
        font-size: 32px;
        margin-bottom: 2.75rem;
    }
    .about .subtitle {
        margin-bottom: 2rem;
    }
    .about .air-top {
        margin-top: 6rem;
    }
    .about .video__wrapper {
        width: 100%;
    }
    .about .video__wrapper video {
        width: 100%!important;
    }
    .about .video__wrapper .show__video {
        bottom: 20%;
    }
    .about .video__wrapper:after {
        bottom: 20%;
    }
    .advantages .air-top {
        margin-top: 6rem;
    }
    .advantages .title {
        font-size: 32px;
    }
    .services .air-top {
        margin-top: 6rem;
    }
    .services .title {
        font-size: 32px;
        margin-bottom: 2rem;
    }
    .services .description-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .reviews .air-top {
        margin-top: 8rem;
    }
    .reviews .title {
        font-size: 32px;
    }
    .contacts .air-top {
        margin-top: 0;
    }
    .advantages .description {
        max-width: 240px;
        width: 240px;
    }
}
